<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-android-biometric-auth" version="0.0.1">
    <name>BiometricAuth</name>
    <description>Cordova plugin to use Android Biometric API for authentication (androidx.biometric)</description>
    <license>Apache 2.0</license>
    <keywords>cordova,plugin,android,fingerprint,biometric,authentication</keywords>
    <repo></repo>
    <issue></issue>
    <engines>
        <engine name="cordova-android" version=">=10.0.0" />
    </engines>
    <js-module src="www/BiometricAuth.js" name="BiometricAuth">
        <clobbers target="BiometricAuth" />
    </js-module>
    <platform name="android">
        <preference name="ANDROIDX_BIOMETRIC_VERSION" default="1.1.0" />
        <framework src="androidx.biometric:biometric:$ANDROIDX_BIOMETRIC_VERSION" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BiometricAuth" >
                <param name="android-package" value="com.cordova.plugin.android.BiometricAuth.BiometricAuth"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.USE_BIOMETRIC" />
            <uses-permission android:name="android.permission.USE_FINGERPRINT" />
        </config-file>
        <source-file src="src/android/BiometricAuth.java" target-dir="src/com/cordova/plugin/android/BiometricAuth" />
        <resource-file src="res/android/values/bauth-strings.xml" target="res/values/bauth-strings.xml" />
        <resource-file src="res/android/values-it" target="res/values-it" />
        <resource-file src="res/android/values-es" target="res/values-es" />
        <resource-file src="res/android/values-ru" target="res/values-ru" />
        <resource-file src="res/android/values-fr" target="res/values-fr" />
        <resource-file src="res/android/values-zh" target="res/values-zh" />
        <resource-file src="res/android/values-zh-rCN" target="res/values-zh-rCN" />
        <resource-file src="res/android/values-zh-rHK" target="res/values-zh-rHK" />
        <resource-file src="res/android/values-zh-rMO" target="res/values-zh-rMO" />
        <resource-file src="res/android/values-zh-rSG" target="res/values-zh-rSG" />
        <resource-file src="res/android/values-zh-rTW" target="res/values-zh-rTW" />
        <resource-file src="res/android/values-no" target="res/values-no" />
        <resource-file src="res/android/values-pt" target="res/values-pt" />
        <resource-file src="res/android/values-ja" target="res/values-ja" />
        <resource-file src="res/android/values-de" target="res/values-de" />
        <resource-file src="res/android/values-th" target="res/values-th" />
        <resource-file src="res/android/values-ar" target="res/values-ar" />
        <resource-file src="res/android/values-ko" target="res/values-ko" />
    </platform>
</plugin>